<!DOCTYPE html>
<html>
<head>
<title>#2 Template Basic</title>
</head>
<body>

    <h1>Blog Filter Page </h1>
    {% comment %} Text Filter {% endcomment %}
    <p><b>Title (Normal) :</b>{{post.title}}</p>
    <p><b>Title (UpperCase) :</b>{{post.title|upper}}</p>
    <p><b>Title (LowerCase) :</b>{{post.title|lower}}</p>
    <p><b>Title (Capitalization) :</b>{{post.title|capfirst}}</p>
    <p><b>Title (TitleCase) :</b>{{post.title|title}}</p>
    <p><b>Title (Trancate) :</b>{{post.title|truncatechars:15}}</p>
    <p><b>Title (TrancateWords) :</b>{{post.title|truncatewords:2}}</p>
    <p><b>Title (LineBreak) :</b>{{post.title|linebreaks}}</p>
    <p><b>Title (last) :</b>{{post.title|last}}</p>
    <p><b>Title (First) :</b>{{post.title|first}}</p>
    <hr>

    {% comment %} Number Filter {% endcomment %}
    {% comment %} Add {% endcomment %}
    <p><b>Orignal Price :</b>{{post.price}}</p>
    <p><b>Orignal Price(+5) :</b>{{post.price|add:5}}</p>

    {% comment %} Division {% endcomment %}

    {% if post.number|divisibleby:2%}
    <p>{{post.number}} is Even</p>
    {% else %}
    <p>{{post.number}} is Odd</p>
    {% endif %} 
    <hr>

    {% comment %} List Filter {% endcomment %}

    <p><b>First Tag :</b>{{post.tags|first}}</p>
    <p><b>Last Tag :</b>{{post.tags|last}}</p>
    <p><b>Tags Count :</b>{{post.tags|length}}</p>
    <p><b>Slice (First 2) :</b>{{post.tags|slice:":2"}}</p>
    <p><b>Slice (Last 2) :</b>{{post.tags|slice:"-2:4"}}</p>
    <p><b>Slice (Middle 2) :</b>{{post.tags|slice:"2:4"}}</p>
    <p><b>Join :</b>{{post.tags|join:", "}}</p>
    <hr>

    {% comment %} Date Filter {% endcomment %}
    <p><b>Created At :</b>{{post.created_at}}</p>
    <p><b>Created At (Date) :</b>{{post.created_at|date:"Y-m-d"}}</p>
    <p><b>Created At (Time) :</b>{{post.created_at|time:"H:i:s"}}</p>
    <p><b>Created At (Custom) :</b>{{post.created_at|date:"F j, Y, g:i a"}}</p> 
    <hr>

    {% comment %} Default Filter {% endcomment %}
    <p><b>Comments Count :</b>{{post.comments_count}}</p>
    <p><b>Comments Count (Default) :</b>{{post.comments_count|default:"No Comments"}}</p>
    <hr>

    <h1>Blog Filter Page </h1>
    <p><b>Author Available :</b>{{post.author|yesno:"Yes,No,May Be"}}</p>

    <p><b>Comments Counts :</b>{{post.comments_count}} Comment{{post.comments_count|pluralize}}</p>
    <hr>

    <p><b>Title Encoded :</b>{{post.title|urlencode}}</p>
    <p><b>Float Formate Example :</b>{{post.price|floatformat:3}}</p>
    















</body>
</html>